<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>

    <title>Login</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    cascading style sheet
    <link rel="stylesheet" type="text/css" href="./asserts/css/login.css">
    
</head>
<body>
    <div class="container-login">
        <div>
            <form class="form-login" id="login" action="">
                <span>Seja Bem vindo</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu email" required="required">
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <a href="#">Click aqui para criar a sua conta</a>
                </div>
                    <button type="submit" class="btn-login">Login</button>
            </form>
        </div>
    </div>
</body>
</html>